* {
	margin: 0;
	padding: 0;
	}
	
body {
	background-color: black;
	font-family: arial;
}

#container {
	margin: 0%;
	width: 100%;
	height: 100%;
}

.logo {
	margin-top: 5%;
	margin-bottom: 0%;
	margin-left: 25%;
	margin-right: 70%;
	width: 20%;
	line-height: 0em;
}

p {
	color: white;
	font-size: 1em;
	text-align: center;
	margin: 0%;
	padding: 0%;
	line-height: .01em;
}

ul {
	height: 1.5%;
	text-align: center;
	list-style-type: none;
	margin-top: 2%;
}

ul li {
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}

ul a {
	color: white;
	text-decoration: none;
}

#slideshow {
	float: right;
	margin-right: 20%;
	margin-left: 25%;
	margin-top: 2%;
	margin-bottom: 10%;
	width: 30%;
	position: relative;
}

#img {
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 10%;
	width: 100%;
	position: absolute;
}

#left_holder {
	width: 10%;
	height: 100%;
	position: absolute;
	left: 0%;
	top: 0%;
}

#right_holder {
	width: 10%;
	height: 100%;
	position: absolute;
	right: 0%;
	top: 0%;
}

.left {
	margin-top: 700%;
	width: 75%;
}

.right {
	margin-top: 700%;
	width: 75%;
}

#maincontent {
	margin-top: 12%;
	margin-left: 10%;
	margin-right: 10%;
	color: white;
	font-size: 1em;
	width: 35%;
}

footer {
	display: block;
	height: 10%;
	color: white;
	border: 1% solid black;
	margin: 20% 0%;
	font-family: arial;
	font-size: 1em;
	padding-top: 10%;
	text-align: center;
	line-height: 1.5em;
	}

/* For mobile phones */

@media only screen and (max-width: 400px)    {

    #maincontent {
        width:100%;   
    }
	
	header {
		width: 100%; 
	}
	
	nav {
		width: 100%; 
	}

	aside {
		width: 100%; 
	}
	
	.slideshow {
		width: 70%;
	}
	
	footer {
		width: 100%; 
	}

}

/* For tablet portrait */

@media only screen and (max-width: 768px)    {

    #maincontent {
        width: 70%;   
    }
	
	header {
		width: 100%; 
	}
	
	nav {
		width: 100%; 
	}

	aside {
		width: 30%; 
	}
	
	footer {
		width: 100%; 
	}

}


	